
//size variables
$sideSpace: 24px;
$headerSize: 18px;
$sideSpaceMd: 16px;
$sideSpaceSm: 12px;

// standard colors
$black: #323232;
$siteColor: #363549;
$white:  #ffffff;
$gray4F: #4F4F4F; 
$black33: #333333;

//second theme colors, when body has "dark_theme" className
$darkSiteColor: #7BF720;
$darkSiteBg: #000000;

//gradients
$blueGradient: linear-gradient(to top right, #37AEE2,#1E94D3);


