.search_work{
    text-align: center;
    width: 30%;
    margin-left: 258px;
    margin-top: 115px;

    .heading{
        line-height: 48px;
        font-size: 36px;    
    } 
    .select{
        display: flex;
        justify-content: center;
        .employer{
            border-color: #312C4E;
            background: linear-gradient(90deg, #312C4E 0.01%, rgba(80, 75, 114, 0.933244) 99.66%, rgba(106, 101, 147, 0.71) 100%);
            border-radius: 8px;
        }
    } 
}